.container1{
    display:block;
    justify-content: center;
    position: absolute;
    right: 40%;
    align-items: center;
    width :20%;
    border: 1px solid black;
    border-radius: 2%;
    margin-top: 10px;
    padding: 10px;
}
.btn1{
    border-radius: 3%;
    color: white;
    margin: 1px;
    padding: 4px;
    background-color: rgb(89, 99, 238);
}
  .btn2{
    border-radius: 3%;
    margin: 1px;
    padding: 4px;
    background-color: green;
  }
  h2{
    text-align: center;
  }
  p{
    color: red;
  }
  #p1{
    text-align: center;
    color:black
  }